#one{
    font-size: medium;
    text-align: center;
}
#two{
    font-size: medium;
    text-align: center;
}
#three{
    font-size: medium;
    text-align: center;
}
#four{
    font-size: medium;
    text-align: center;
}
.heading{
    text-align: center;
}

.Photo1 {
   width: 500px;
}

.Photo2{
    width: 500px;
    padding: 1rem;
}

.Photo3{
    width: 500px;
    padding: 1rem;
}

.Photo{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 600px) {
    .heading {
        font-size: 1.5em; 
    }
    .Photo {
        max-width: 100%; 
    }
}

body {
    background: #eee;
    padding: 1rem;
    color: #1d1d20;
    line-height: 1.5em;
    margin: 50px 120px 50px 120px;
  }

  body p {
    font-size: 1.2em; 
    margin: auto;
}

p {
    margin: 15px 15px 15px 15px;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

div.photo-wrapup{
    float: left;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
}

div.right{
    float: right;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
}

div.left{
    float: left;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
}

.heading.second {
    line-height: 1.8;
}